.container{
  width: 100%;
  margin: auto;
  padding-top: 4%;
  padding-bottom: 4%;
}

.row{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.row::after{
  display: table;
  clear: both;
  content: "";
}

.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

*{
  box-sizing: border-box;
}

footer.footsy{
  /*background-color: #153266;*/
  background-color: #232f3e;
  padding-left: 10%;
}

footer.footsy h1{
  color: #fff;
  font-size: 25px;
}

footer.footsy ul{
  list-style: none;
  text-align: left;
  padding-left: 0;
}

footer.footsy ul li{
  color: #fff;
  font-size: 15px;
  line-height: 1.5;
}

